.register_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;

    &_card {
        background-color: white;
        width: 350px;
        border-radius: 1px;
        padding: 10px 0;
        border: 1px solid #eee;
        text-align: center;

        img {
            object-position: 0 1px;
            object-fit: cover;
            width: 175px;
            height: 51px;
            margin-top: 40px;
            cursor: pointer;
        }
    
        h3 {
            padding: 10px;
            color: gray;
            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
            margin: 0 40px 10px;
        }
    
        form {
            margin-top: 30px;
            input {
                background: rgb(250,250,250);
                border: 1px solid #a3a3a3;
                height: 36px;
                flex: 1 0 auto;
                margin: 0;
                outline: none;
                overflow: hidden;
                padding: 0 5px;
                text-overflow: ellipsis;
                width: 70%;
            }
        }
        .useable_service {
            line-height: 16px;
            font-weight: 400;
            word-wrap: break-word;
            white-space: pre-line;
            font-size: 12px;
            margin: 0 35px;

            a {
                color: rgb(0, 55, 107);
            }
        }
    }

    &_bottomCard {
        background-color: white;
        width: 350px;
        border-radius: 1px;
        padding: 10px 0;
        border: 1px solid #eee;
        text-align: center;
        margin-top: 10px;
    }
    

}