



.login_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;

    &_card {
        background-color: white;
        width: 350px;
        border-radius: 1px;
        padding: 10px 0;
        border: 1px solid #eee;
        text-align: center;


        img {
            object-position: 0 1px;
            object-fit: cover;
            width: 175px;
            height: 51px;
            margin-top: 40px;
            cursor: pointer;
        }
    }
}